<div class="page-header">
  <h3>Add Driver</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_driver" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First Name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="Insert first name" class="form-control">
      </div>

    <!-- Label and input for last_name -->
    <div class="form-group">
      <label for="Last_name" class="control-label">
        Last Name
      </label>

      <input type="text" id="last_name" name="last_name" placeholder="Insert last name" class="form-control">
    </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email Address
        </label>

        <input type="text" id="email" name="email" placeholder="Email Address" class="form-control">
      </div>
        </div>
      </div>


      <!-- Label and input for password -->
      <div class="form-group">
        <label for="email" class="control-label">
          Password
        </label>

        <input type="text" id="password" name="password" placeholder="Create password" class="form-control">
      </div>
        </div>
      </div>


      <button class="btn btn-success">
        Register Driver
      </button>
      or
      <a href="/drivers">Cancel</a>
    </form>
  </div>
</div>
