<!-- Validation failure messages -->
<% if @service_notification.errors.any? %>
  <% @service_notification.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Service Notification</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_service_notification" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for service_request_id -->
      <div class="form-group">
        <label for="service_request_id" class="control-label">
          Service Request
        </label>

        <%= select_tag(:service_request_id, options_from_collection_for_select(ServiceRequest.all, :id, :car_id, @service_notification.service_request_id), :class => "form-control") %>
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @service_notification.status %>">
      </div>

      <button class="btn btn-success">
        Create Service Notification
      </button>
      or
      <a href="/service_notifications">Cancel</a>
    </form>
  </div>
</div>
